.about {
  display: block;
  padding-top: 5rem;
  pointer-events: all;
  font-family: 'Poppins';
  background: #393e46;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.about section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin: auto;
  margin-top: 2rem;
  z-index: 2;
  cursor: default;
  text-align: left;
  color: #f2f2f2;
  font-size: 0.5rem;
}
.about section .ph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333333%;
  flex: 0 0 33.33333333%;
}
.about section .ph .photo {
  padding: 1rem 0rem;
  width: 170px;
}
.about section .ph img {
  border-radius: 50%;
  width: 100%;
}
.about section .ph .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.about section .ph .title h2 {
  font-size: 2rem;
}
.about section .ph .title h3 {
  font-size: 1rem;
}
.about section .ph .title .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about section .ph .title .socials li {
  list-style: none;
  padding-right: 0.5rem;
}
.about section .ph .title .socials li a {
  font-size: 2rem;
  color: #4690a7;
}
.about section .ph .title .socials li a:hover {
  text-shadow: 0 0 10px #4690a7, 0 0 40px #4690a7;
}
.about section .ph .title .socials li:last-child a {
  text-decoration: none;
  font-weight: bold;
}
.about section .bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.about section .bio h3 {
  color: #4690a7;
}
.about section .bio h3,
.about section .bio p {
  font-size: 1.2rem;
  padding: 0;
  margin: 10px;
  width: 90%;
}
@media (min-width: 576px) {
  .about section {
    max-width: 540px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .about section {
    max-width: 720px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about section .ph .photo {
    width: 220px;
  }
}
@media (min-width: 992px) {
  .about section {
    max-width: 960px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .about section .ph .photo {
    width: 270px;
  }
  .about section .bio {
    text-align: left;
  }
  .about section .bio h3,
  .about section .bio p {
    font-size: 1.4rem;
  }
}
@media (min-width: 1200px) {
  .about section {
    max-width: 1200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 4rem;
  }
  .about section .ph .photo {
    width: 270px;
  }
  .about section .bio {
    text-align: left;
  }
  .about section .bio h3,
  .about section .bio p {
    font-size: 1.4rem;
  }
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.portfolio {
  display: block;
  height: 100vh;
  padding-top: 5rem;
  pointer-events: all;
  font-family: 'Poppins';
  background: #393e46;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.portfolio section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin: auto;
  margin-top: 2rem;
  height: 100%;
  z-index: 2;
  cursor: default;
  text-align: left;
  color: #f2f2f2;
}
.portfolio .skills {
  font-size: 1.6rem;
  margin: auto;
  margin-top: 0px;
  text-align: center;
}
.portfolio .skills h2 {
  color: #f96d00;
}
.portfolio .skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.portfolio .skills ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 17rem;
  margin: 1rem;
  color: #4690a7;
  font-size: 1.1em;
}
.portfolio .skills ul li h3 {
  font-size: 1.3rem;
  color: #f2f2f2;
  margin: 0.3rem;
}
.portfolio .skills ul li p {
  font-size: 0.8rem;
  color: #f2f2f2;
}
.portfolio .exp,
.portfolio .edu,
.portfolio .extra,
.portfolio .interests {
  font-size: 1.4rem;
  margin: auto;
  margin-top: 0px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.portfolio .exp h2,
.portfolio .edu h2,
.portfolio .extra h2,
.portfolio .interests h2 {
  color: #f96d00;
  margin: 2rem;
}
.portfolio .exp .first-exp,
.portfolio .exp .clg,
.portfolio .exp .list,
.portfolio .edu .first-exp,
.portfolio .edu .clg,
.portfolio .edu .list,
.portfolio .extra .first-exp,
.portfolio .extra .clg,
.portfolio .extra .list,
.portfolio .interests .first-exp,
.portfolio .interests .clg,
.portfolio .interests .list {
  padding: 1rem;
  background-color: #3e434c;
  border-radius: 15px;
  text-align: left;
}
.portfolio .exp .first-exp h3,
.portfolio .exp .clg h3,
.portfolio .exp .list h3,
.portfolio .edu .first-exp h3,
.portfolio .edu .clg h3,
.portfolio .edu .list h3,
.portfolio .extra .first-exp h3,
.portfolio .extra .clg h3,
.portfolio .extra .list h3,
.portfolio .interests .first-exp h3,
.portfolio .interests .clg h3,
.portfolio .interests .list h3 {
  font-size: 1.3rem;
}
.portfolio .exp .first-exp h4,
.portfolio .exp .clg h4,
.portfolio .exp .list h4,
.portfolio .edu .first-exp h4,
.portfolio .edu .clg h4,
.portfolio .edu .list h4,
.portfolio .extra .first-exp h4,
.portfolio .extra .clg h4,
.portfolio .extra .list h4,
.portfolio .interests .first-exp h4,
.portfolio .interests .clg h4,
.portfolio .interests .list h4 {
  font-size: 1.2rem;
  padding-top: 0.8rem;
  color: #4690a7;
}
.portfolio .exp .first-exp h5,
.portfolio .exp .clg h5,
.portfolio .exp .list h5,
.portfolio .edu .first-exp h5,
.portfolio .edu .clg h5,
.portfolio .edu .list h5,
.portfolio .extra .first-exp h5,
.portfolio .extra .clg h5,
.portfolio .extra .list h5,
.portfolio .interests .first-exp h5,
.portfolio .interests .clg h5,
.portfolio .interests .list h5 {
  font-size: 1.1rem;
  padding-top: 0.4rem;
}
.portfolio .exp .first-exp ul,
.portfolio .exp .clg ul,
.portfolio .exp .list ul,
.portfolio .edu .first-exp ul,
.portfolio .edu .clg ul,
.portfolio .edu .list ul,
.portfolio .extra .first-exp ul,
.portfolio .extra .clg ul,
.portfolio .extra .list ul,
.portfolio .interests .first-exp ul,
.portfolio .interests .clg ul,
.portfolio .interests .list ul {
  font-size: 0.9rem;
  -webkit-padding-start: 30px;
  padding-inline-start: 30px;
  padding-top: 0.8rem;
}
.portfolio .exp .list,
.portfolio .edu .list,
.portfolio .extra .list,
.portfolio .interests .list {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .portfolio {
    padding: 2rem;
  }
  .portfolio section {
    max-width: 720px;
  }
  .portfolio section .skills {
    padding: 3rem;
    font-size: 2.5rem;
  }
  .portfolio section .skills ul li {
    font-size: 1.2em;
  }
  .portfolio section .skills ul li h3 {
    font-size: 2.2rem;
  }
  .portfolio section .skills ul li p {
    font-size: 1rem;
  }
  .portfolio section .exp,
  .portfolio section .edu,
  .portfolio section .extra,
  .portfolio section .interests {
    font-size: 2.5rem;
    padding: 2rem;
  }
  .portfolio section .exp .first-exp,
  .portfolio section .exp .clg,
  .portfolio section .exp .list,
  .portfolio section .edu .first-exp,
  .portfolio section .edu .clg,
  .portfolio section .edu .list,
  .portfolio section .extra .first-exp,
  .portfolio section .extra .clg,
  .portfolio section .extra .list,
  .portfolio section .interests .first-exp,
  .portfolio section .interests .clg,
  .portfolio section .interests .list {
    padding: 1rem 3.5rem 1.5rem 3.5rem;
  }
  .portfolio section .exp .first-exp ul,
  .portfolio section .exp .clg ul,
  .portfolio section .exp .list ul,
  .portfolio section .edu .first-exp ul,
  .portfolio section .edu .clg ul,
  .portfolio section .edu .list ul,
  .portfolio section .extra .first-exp ul,
  .portfolio section .extra .clg ul,
  .portfolio section .extra .list ul,
  .portfolio section .interests .first-exp ul,
  .portfolio section .interests .clg ul,
  .portfolio section .interests .list ul {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  .portfolio {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 2rem;
  }
  .portfolio section {
    max-width: 960px;
  }
  .portfolio section .skills {
    padding: 3rem;
    font-size: 3rem;
  }
  .portfolio section .skills ul li {
    font-size: 1.2em;
  }
  .portfolio section .skills ul li h3 {
    font-size: 2.2rem;
  }
  .portfolio section .skills ul li p {
    font-size: 1rem;
  }
  .portfolio section .exp,
  .portfolio section .edu,
  .portfolio section .extra,
  .portfolio section .interests {
    font-size: 3rem;
    padding: 3rem;
  }
  .portfolio section .exp .first-exp,
  .portfolio section .exp .clg,
  .portfolio section .exp .list,
  .portfolio section .edu .first-exp,
  .portfolio section .edu .clg,
  .portfolio section .edu .list,
  .portfolio section .extra .first-exp,
  .portfolio section .extra .clg,
  .portfolio section .extra .list,
  .portfolio section .interests .first-exp,
  .portfolio section .interests .clg,
  .portfolio section .interests .list {
    margin-left: 2rem;
    margin-top: 2rem;
    padding: 1rem 6rem 1.5rem 3.5rem;
  }
  .portfolio section .exp .first-exp ul,
  .portfolio section .exp .clg ul,
  .portfolio section .exp .list ul,
  .portfolio section .edu .first-exp ul,
  .portfolio section .edu .clg ul,
  .portfolio section .edu .list ul,
  .portfolio section .extra .first-exp ul,
  .portfolio section .extra .clg ul,
  .portfolio section .extra .list ul,
  .portfolio section .interests .first-exp ul,
  .portfolio section .interests .clg ul,
  .portfolio section .interests .list ul {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .portfolio {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 2rem;
  }
  .portfolio section {
    max-width: 1200px;
    margin-top: 4rem;
  }
  .portfolio section .skills {
    padding: 3rem;
    font-size: 3rem;
  }
  .portfolio section .skills ul li {
    font-size: 1.2em;
  }
  .portfolio section .skills ul li h3 {
    font-size: 2.2rem;
  }
  .portfolio section .skills ul li p {
    font-size: 1rem;
  }
  .portfolio section .exp,
  .portfolio section .edu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .portfolio section .exp,
  .portfolio section .edu,
  .portfolio section .extra,
  .portfolio section .interests {
    font-size: 3rem;
    padding: 3rem;
  }
  .portfolio section .exp .first-exp,
  .portfolio section .exp .clg,
  .portfolio section .exp .list,
  .portfolio section .edu .first-exp,
  .portfolio section .edu .clg,
  .portfolio section .edu .list,
  .portfolio section .extra .first-exp,
  .portfolio section .extra .clg,
  .portfolio section .extra .list,
  .portfolio section .interests .first-exp,
  .portfolio section .interests .clg,
  .portfolio section .interests .list {
    margin-left: 2rem;
    margin-top: 2rem;
    padding: 1rem 6rem 1.5rem 3.5rem;
  }
  .portfolio section .exp .first-exp ul,
  .portfolio section .exp .clg ul,
  .portfolio section .exp .list ul,
  .portfolio section .edu .first-exp ul,
  .portfolio section .edu .clg ul,
  .portfolio section .edu .list ul,
  .portfolio section .extra .first-exp ul,
  .portfolio section .extra .clg ul,
  .portfolio section .extra .list ul,
  .portfolio section .interests .first-exp ul,
  .portfolio section .interests .clg ul,
  .portfolio section .interests .list ul {
    font-size: 1rem;
  }
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contact {
  display: block;
  padding-top: 5rem;
  pointer-events: all;
  font-family: 'Poppins';
  background: #393e46;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.contact section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin: auto;
  margin-top: 4rem;
  height: 100%;
  z-index: 2;
  cursor: default;
  text-align: left;
  color: #f2f2f2;
}
.contact section .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.contact section .contact-form .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
.contact section .contact-form .title h2 {
  color: #f96d00;
  margin: 2rem 2rem 0 2rem;
  font-size: 2.5rem;
}
.contact section .contact-form form {
  margin-top: 2rem;
  background-color: #3e434c;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1.3rem;
  border-radius: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
.contact section .contact-form form .field {
  background: #393e46;
  padding: 0.5rem;
  margin-top: 0.88rem;
  width: 100%;
  border: solid 2px #4690a7;
  border-radius: 10px;
  color: #f2f2f2;
}
.contact section .contact-form form .field:focus {
  -webkit-box-shadow: 0 0 10px #4690a7, 0 0 20px #4690a7;
  box-shadow: 0 0 10px #4690a7, 0 0 20px #4690a7;
  outline: none;
}
.contact section .contact-form form textarea {
  height: 7rem;
}
.contact section .contact-form form button {
  padding: 0.5rem 1rem;
  margin-top: 0.88rem;
  display: inline-block;
  background-color: #393e46;
  border-radius: 5px;
  border-color: #4690a7;
  color: #4690a7;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.contact section .contact-form form button:hover {
  background-color: #4690a7;
  color: #f2f2f2;
}
.contact section .contact-form form a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: #4690a7;
  font-size: 2rem;
}
.contact section .contact-form form a i {
  margin-top: 0.88rem;
}
.contact section .contact-form form a i:hover {
  text-shadow: 0 0 10px #4690a7, 0 0 40px #4690a7;
}
.contact section .contact-form form a p {
  padding: 0 0.5rem;
  margin-top: 0.88rem;
  color: #f2f2f2;
  font-size: 1rem;
}
.contact section .contact-form form a p:hover {
  color: #4690a7;
  text-shadow: 0 0 10px #4690a7, 0 0 40px #4690a7;
}
@media (min-width: 576px) {
  .contact section {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .contact section {
    max-width: 720px;
  }
  .contact section .contact-form .title h2 {
    padding: 1rem;
    font-size: 3rem;
  }
  .contact section .contact-form .title p {
    padding: 0rem 3rem;
  }
  .contact section .contact-form form {
    padding: 2rem;
    margin-top: 3rem;
    margin-left: 3rem;
  }
}
@media (min-width: 992px) {
  .contact section {
    max-width: 960px;
  }
  .contact section .contact-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .contact section .contact-form .title h2 {
    padding: 1rem;
    font-size: 3rem;
  }
  .contact section .contact-form .title p {
    padding: 0rem 3rem;
  }
  .contact section .contact-form form {
    padding: 2rem;
    margin-top: 3rem;
    margin-left: 3rem;
  }
}
@media (min-width: 1200px) {
  .contact section {
    max-width: 1200px;
    margin-top: 4rem;
  }
  .contact section .contact-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .contact section .contact-form .title h2 {
    padding: 1rem;
    font-size: 3rem;
  }
  .contact section .contact-form .title p {
    padding: 0rem 3rem;
  }
  .contact section .contact-form form {
    padding: 2rem;
    margin-top: 3rem;
    margin-left: 3rem;
  }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Space Mono', 'Poppins', sans-serif;
  background: #393e46;
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 5rem;
  padding: 0.7rem 2rem;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  background: rgba(34, 40, 49, 0.8);
  border-bottom: solid #4690a7;
}
nav .menu {
  width: 100%;
  position: absolute;
  top: 5rem;
  background-color: rgba(34, 40, 49, 0.8);
  left: 0;
  display: none;
}
nav .menu ul {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.8;
}
nav .menu ul li {
  display: block;
  width: 100%;
  text-align: center;
  color: #f2f2f2;
  font-size: 1.3rem;
  padding: 0.5em;
  margin: 0 0.25em;
  cursor: pointer;
  border-bottom: solid 1px #f2f2f2;
}
nav .menu ul li a {
  text-decoration: none;
  color: #f2f2f2;
  text-transform: uppercase;
}
nav .menu ul li a:hover {
  color: #f96d00;
  text-shadow: 0 0 10px #f96d00, 0 0 40px #f96d00, 0 0 80px #f96d00;
}
nav label {
  display: fixed;
  float: right;
  color: #f2f2f2;
  font-size: 2rem;
}
nav #toggle {
  display: none;
}
nav #toggle:checked + .menu {
  display: block;
}
.logo {
  font-size: 1.5rem;
  color: #f96d00;
  border: solid 5px #f96d00;
  padding: 0.3rem 0.55rem;
  cursor: default;
}
.logo:hover {
  color: #f96d00;
  -webkit-box-shadow: 0 0 10px #f96d00, 0 0 40px #f96d00, 0 0 80px #f96d00;
  box-shadow: 0 0 10px #f96d00, 0 0 40px #f96d00, 0 0 80px #f96d00;
  text-shadow: 0 0 10px #f96d00, 0 0 40px #f96d00, 0 0 80px #f96d00;
  border: solid 5px #f96d00;
}
.home {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #393e46;
  pointer-events: none;
  text-align: center;
  background: url('./img/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home .landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.home .landing h1 {
  font-size: 2rem;
  color: #f96d00;
  text-shadow: 2px 2px 2px #222831;
}
.home .landing p {
  font-size: 1.5rem;
  color: #4690a7;
  text-shadow: 2px 2px 2px #222831;
}
@media (min-width: 768px) {
  .home .landing h1 {
    font-size: 3rem;
  }
  .home .landing p {
    font-size: 2rem;
  }
  .logo {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  nav .menu {
    width: 100%;
    position: static;
    background-color: transparent;
    display: block;
  }
  nav .menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 960px;
  }
  nav .menu ul li {
    border-bottom: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
  }
  nav label {
    display: none;
  }
  .home .landing h1 {
    font-size: 3.5rem;
  }
  .home .landing p {
    font-size: 2.5rem;
  }
  .logo {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  nav .menu {
    width: 100%;
    position: static;
    background-color: transparent;
    display: block;
  }
  nav .menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 1200px;
  }
  nav .menu ul li {
    border-bottom: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
  }
  nav label {
    display: none;
  }
  .home .landing h1 {
    font-size: 3.5rem;
  }
  .home .landing p {
    font-size: 2.5rem;
  }
  .logo {
    font-size: 2rem;
  }
}
